.header
	.header__left
		.header__btn
			.sandwich
				.sandwich__line.sandwich__line--top
				.sandwich__line.sandwich__line--middle
				.sandwich__line.sandwich__line--bottom
		span.title-page Walkthrough