<div class="wrapper">
  <div class="wrapper__inner">
    <header>
    </header>
    <div class="content">
      <div class="container">
        <div class="start-form">
          <div class="start-form__header">
            <div class="start-form__photo"></div>
            <div class="start-form__navigation"><a class="start-form__navigation_link is-active" href="index.html">Sign in</a><a class="start-form__navigation_link" href="sign-up.html">Sign Up</a></div>
          </div>
          <div class="start-form__body">
            <form class="start-form__form form">
              <div class="form__body">
                <div class="form-group">
                  <div class="form-group__icon">
                    <svg class="svg-sprite-icon icon-user">
                      <use xlink:href="static/images/svg/symbol/sprite.svg#user"></use>
                    </svg>
                  </div>
                  <div class="form-group__input">
                    <input class="g-input" placeholder="Username">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group__icon">
                    <svg class="svg-sprite-icon icon-lock">
                      <use xlink:href="static/images/svg/symbol/sprite.svg#lock"></use>
                    </svg>
                  </div>
                  <div class="form-group__input">
                    <input class="g-input" type="password" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="form__footer">
                <div class="btn"><span class="btn__text">Continue</span></div>
                <div class="btn btn--transparent"><span class="btn__text">Forgot Password</span></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
