extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.container
		.start-form
			.start-form__header
				.start-form__photo
				.start-form__navigation
					a(href="").start-form__navigation_link.is-active Sign in
					a(href="").start-form__navigation_link Sign Up
			.start-form__body
			.start-form__footer