@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir-light/Avenir-Light.woff2') format('woff2'),
  url('../fonts/avenir-light/Avenir-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/avenir-book/Avenir-Book.woff2') format('woff2'),
  url('../fonts/avenir-book/Avenir-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
