// Colors

$white: #ffffff;
$black: #000000;

$malibu: #8c88ff;

$completed-task: #62d7c8;
$snoozed-task: #ee8f6e;
$overdue-task: #ff3366;

$base-icon-color: rgba($white,.5);



// Sizes
$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);


$content-size: 320px;

// Fonts
$main-font: 'Avenir', Arial, sans-serif;