@import "prev";


.tasks-today {
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    .task-prev {
      margin: 5px;
    }
  }
  &__header {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  &__descr {
    color: rgba($white,.5);
    font-size: 14px;
  }
}