.start-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__header {
    background-color: rgba($white, .1);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding-top: 95px;
  }
  &__body {
    flex: 1;
    padding: 20px;
  }
  &__photo {
    @include size(100px);
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 50px;
  }
  &__navigation {
    display: flex;
    margin-top: auto;
    &_link {
      border-bottom: 3px solid transparent;
      color: $white;
      flex: 1;
      font-size: 12px;
      padding: 15px;
      text-transform: uppercase;
      text-align: center;
      &.is {
        &-active {
          border-color: $malibu;
        }
      }
    }
  }
}