.form-group {
  align-items: center;
  border-bottom: 1px solid rgba($white, .1);
  display: flex;
  height: 40px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  & > * {
    margin-right: 15px;
    &:last-child { margin-right: 0; }
  }
  &__icon {
    .svg-sprite-icon {
      @include size(22px);
      fill: $white;
      opacity: .5;
    }
  }
  @include placeholder {
    color: $white;
  }
}